<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, minimun-scale=1.0")
    link(rel="stylesheet", href="styles.css")
    title
  body
    h1 Product 360

    .product#product
      img.product__img#product__img(src="zapato.jpg")
      video.product__video#product__video(src="zapato.mp4")


    script(src="scripts.js")
    