* {
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
}
h1 {
  text-align : center;
}
body {
  font-family : sans-serif;
  font-size : .8em;
}

.product {
  width : 500px;
  height : auto;
  margin-left : auto;
  margin-right : auto;
  border : 2px solid #ccc;
}